body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url("https://images.unsplash.com/photo-1525547719571-a2d4ac8945e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80");
    background-size: cover;
    text-align: center;
    transition: filter 0.7s;
}

h1 {
    font-size: 60px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 4px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}

.btn {
    padding: 10px 20px;
    width: 200px;
    cursor: pointer;
    background-color: orangered;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    transition: all 0.5s;
}

.btn:hover {
    background: rgb(59, 9, 240);

}

.active.container {
    filter: blur(5px) brightness(0.7);
}

.popup-container {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    width: 400px;
    height: 200px;
    top: 30%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: url("https://images.unsplash.com/photo-1635657987517-c143fad8079c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .6);
    color: white;
    opacity: 1;
    transition: all .5s;
}
h4{
    font-size: 30px;
    margin: 10px 0;
    font-family: sans-serif;
    color: rgb(253, 146, 52);
}

label{
    color: rgb(253, 146, 52);
    font-family: sans-serif;
}

.popup-btn{
    background-color: orangered;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid;
}

.input{
    border: 2px solid;
    padding: 10px;
    margin: 10px 0;
    font-size: 20px;
    text-align: center;
}
.input::placeholder{
    color: lightgray;
}

.close-icon{
    position: absolute;
    right: 20px;
    cursor: pointer;
}
.close-icon:hover{
    color: orangered;
}

.active.popup-container{
    visibility: hidden;
    opacity: 0;
    top: 10%;
}