body {
    margin: 0;
}

.top-container {
    background: url("https://images.unsplash.com/photo-1547394765-185e1e68f34e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGNvbXB1dGVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1000&q=60");
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.top-container h1{
    color: white;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
}

.text{
    margin: 50px 5%;
    font-family: sans-serif;
}

.navbar{
    display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition:background-color 0.4s;
}

.navbar ul{
    display: flex;
    list-style-type: none;
}

.navbar ul li a{
    text-decoration: none;
    margin: 0 10px;
    color: black;
    font-family: cursive;
}

.navbar ul li a:hover{
    color: red;
}

.navbar.active{
    background-color: black;
}

.navbar.active ul li a{
    color: white;
}