*{
    margin:0;
    padding: 0;
}
body{
    font-family: sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outer{
    width: 245px;
    height: 245px;
    border-radius: 50%;
    background: #000;
    display:flex;
    justify-content: center;
    align-items: center;
    border:2px solid rgb(157, 255, 0);
}
.inner{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background: #f2eee3;
    display:flex;
    justify-content: center;
    align-items: center;
}
.text{
    color: #000;
    font-size: 30px;
}
.bottons{

    width: 250px;
    margin-top: 250px;
}
button{
    width: 50px;
    height: 50px;
    border-radius: 45%;
    border: 2px solid rgb(39, 62, 1);
    background: rgb(157, 255, 0);
    color: #000;
    margin-left: 20px;
    margin-top: 20px;
}
button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgb(192, 255, 90);
}
.container{
    display: flex;
    justify-content: center;
}