@import url('http://fonts.cdnfonts.com/css/frijole');
                
* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px black;
    height: 100vh;
    width: 100vw;
    background: red;
    background: linear-gradient(rgb(12, 12, 12), rgb(0, 255, 225));
}

.container h1{
    color: white;
    font-size: 60px;
    font-family: 'Frijole', sans-serif; 
    text-shadow: 5px 5px 5px black;                                           
}
.container h3{
    color: white;
    font-size: 50px;
    padding-top: 50px;
    font-family: 'Frijole', sans-serif;
    letter-spacing: 2px;
    padding-bottom: 70px;
    text-shadow: 5px 5px 5px black; 
}
#btn{
    height: 38px;
    width: 150px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 20px;
}
#btn:hover{
    cursor: pointer;
    border: 2px solid black;
    background: rgb(42, 41, 41);
    color: white ;
}