body {
    margin: 0;
    font-family: sans-serif;
}

.bg-image {
    widows: 100%;
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1505144808419-1957a94ca61e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fG5hdHVyZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1000&q=60");
    background-size: 160%;
    background-position: center;
    background-attachment: fixed;
}
.container{
    padding: 100px;
}

h1{
    font-size: 50px;
}

p{
    color:grey;
}
@media(max-width:500px){
    .container{
        padding: 10px;
    }
}